!!! 5

%head
  %title Unicodey

  = stylesheet :unicodey
  = script 'http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'
  = script :unicodey

%body
  %table.content(align="center")
    %tr
      %td(valign="middle")
        .input-container
          %label(for="input") Enter character(s)
          %br
          %input#input(type="text")
        .output-container
          %img.loading-image(src="loading.gif" style="display: none;")
          %p.output-label(style="display: none;") Unicode value(s):
          %table.output
            %tr.char-row
            %tr.code-row