* {
  font-family: 'Georgia', 'Bitstream Vera Serif', serif;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

a {
  color: #000080;
  text-decoration: none;
}

a:hover {
  color: #800000;
  text-decoration: underline;
}

table.content {
  height: 100%;
  width: 100%;
}

table.content tr td {
  text-align: center;
}

.input-container {
  margin-bottom: 16pt;
}

label {
  font-size: 24pt;
}

input {
  font-size: 32pt;
  text-align: center;
}

.output-container {
  font-size: 14pt;
  margin-bottom: 16pt;
}

table.output {
  margin-left: auto;
  margin-right: auto;
}

table.output tr th, table.output tr td {
  padding: 8pt;
}

table.output tr th {
  font-weight: bold;
}

table.output tr.char-row td {
  background: #80ff80;
}

table.output tr.code-row td {
  background: #ffff80;
}

table.output tr td.mismatch {
  background: #ff8080;
}

table.output tr td.gray {
  background: #808080;
}